@media (max-width:700px){
    header img {
        width:80px !important;
    }
    header {
        padding:0% 5% !important;
    }
    .hero {
        flex-direction: column-reverse;
        width:90% !important;
    }
    .hero .cta, .typing-game .cta {
        margin:10% 0%;
        width:100%;
    }
    .hero img, .typing-game img {
        width:100% !important ; /*To override regular .hero img*/
    }
    .hero .description {
        margin:2% 0 7% 0;
    }
    .services {
        width:90% !important;
    }
    .services .boxes .box {
        flex-basis: 100%;
    }
    .typing-game {
        flex-direction: column;
        width:90% !important;
    }
    .typing-game .cta h1{
        font-size: 4.5vmin;
        margin:5% 0;
    }
    footer {
        width:90% !important;
    }
    footer p{
        margin-bottom:5% !important;
    }
    /*GED Subject Page codes*/
    .ged-sub-nav ul li {
        flex-basis: 25%;
    }
    .ged-sub-nav li a {
        font-size: 1.4vmin;
        padding:10% !important;
        text-align: center;
    }
    .ged-sub-main {
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .ged-sub-main aside {
        margin: 4% auto;
        width:100%;
    }
    .ged-sub-main aside ul {
        flex-direction: row !important;
    }
    .ged-sub-main aside ul li {
        flex-basis: 30%;
        font-size: 1.6vmin;
        text-align: center;
        align-content: center;
    }
    .ged-sub-main aside ul li a {
        padding:15% 5% !important;
        text-wrap: wrap;
    }
    .ged-sub-main h1 {
        font-size: 2.2vmin !important;
    }
    .mcq-pages {
        flex-direction: column;
        min-height: 45vh !important;
        width: 90% !important;
    }
    .exercise-main {
        flex-direction: column;     
    }
    .buttons {
        width:80% !important;
    }
}